################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/UnitTest/obj/Release
/SalexTaxes_F/bin/Debug
/SalexTaxes_F/obj/Debug
/TrafficFlow/bin/Debug
/TrafficFlow/obj/Debug
/TrafficFlow_F/bin/Debug
/TrafficFlow_F/obj/Debug
/UnitTest/bin/Debug
/UnitTest/obj/Debug
/SalexTaxes_F/obj
obj
obj
/Salex_Tax/obj/Debug/SalesTaxes.csproj.FileListAbsolute.txt
